
html {
  min-height: 100%;
  background-image: url('./img/felt.png');
  background-repeat: repeat;
  background-color: green;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Sans-serif;
  color: #FFF;
}

body {
  width: 100%;
  padding: 10px;
  margin: 0;
}

div {
  display:flex;
}

button {
  background-color: blue;
  color: #FFF;
  padding: 10px 20px;
  font-weight: 600;
  border: 0;
}

button:hover {
  cursor: pointer;
}

.content-wrapper {
  width: 100%;
  /* flex-direction: column; */
}

.title-wrapper {
  padding: 20px;
}

.title {
  font-size: 40px;
}

.buttons-wrapper {
  display: block;
  padding: 20px 0px;
}

.button-wrapper {
  display:inline-block;
}
.output-wrapper {
  display: block;
  margin: auto;
}

.row {
  flex-direction: row;
  margin: auto;
}

.column {
  flex-direction: column;
}

.card-top {
  margin: 10px 0px 0px 10px;
}

.card-bottom {
  margin: 0px 10px 10px 115px;
}
.card-middle {
  height: 60px;
}

.card-icon {
  font-size: 40px;
}
.red {
  color: red;
}

.black {
  color: black;
}

.hide {
  display:none;
}

@keyframes card-size {
  from {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.3)
  };
  to {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)
  };
}

#output-card {
  height: 200px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  background-color: #FFF;
}

.card-animation {
  animation-name: card-size;
  animation-duration: .5s;
}

#card-center {
  font-size: 50px;
}
